*{
    margin: 0;
    padding: 0;
}
h3{
    margin-top: 30px;
    font-size: 40px;
}
.container{
    height: 200px;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    
}
.row{
    padding: 2px;
    margin: 0;
}
.button{
    height: 50px;
    width: 40px;
    cursor: pointer;
}
.input {
    margin-bottom: 4px;
    border-radius: 7px;
    padding: 10px 8px;
}
